---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <main>
    <div
      class="bg-[url('src/assets/images/about-hero-section.png')] lg:h-[750px] h-[500px] relative"
    >
      <div class="absolute top-1/2 -translate-x-1/2 left-1/2 -translate-y-1/2">
        <img src="src/assets/images/property.png" alt="" />
      </div>
    </div>
    <p
      class="text-secondary-green text-[27px] text-center lg:px-[105px] lg:pb-20"
    >
      At the core of Ennar Landscape is a mission to transform indoor and
      outdoor environments into spaces that inspire, rejuvenate, and foster a
      deep connection with nature.
    </p>
    <div class="bg-primary-green lg:pt-8 lg:pb-10 lg:px-20 flex">
      <div>
        <h2
          class="text-ghost-white text-4xl font-medium leading-[57px] lg:pb-7"
        >
          Our Expertise and Approach
        </h2>
        <div class="space-y-6">
          <div>
            <img src="src/assets/images/landspace-design.svg" alt="" />
            <p class="text-[27px] text-ghost-white leading-[43px] mt-4">
              Landscape Design
            </p>
            <p class="text-ghost-white text-xl font-light">
              Innovative and sustainable designs tailored to meet the unique
              needs of each client, ensuring that every space we create promotes
              a sense of peace, functionality, and aesthetic beauty.
            </p>
          </div>
          <div>
            <img src="src/assets/images/project-management.svg" alt="" />
            <p class="text-[27px] text-ghost-white leading-[43px] mt-4">
              Project Management
            </p>
            <p class="text-ghost-white text-xl font-light">
              Seamless project execution, with a focus on delivering ontime and
              on-budget outcomes, while ensuring quality, precision, and safety
              at every stage of development.
            </p>
          </div>
          <div>
            <img src="src/assets/images/sustainable-practices.svg" alt="" />
            <p class="text-[27px] text-ghost-white leading-[43px] mt-4">
              Sustainable Practices
            </p>
            <p class="text-ghost-white text-xl font-light">
              Prioritizing the use of environmentally friendly materials, water
              conservation techniques, and energy-efficient maintenance systems
              to reduce the ecological footprint of every project.
            </p>
          </div>
          <div>
            <img src="src/assets/images/long-term-maintenance.svg" alt="" />
            <p class="text-[27px] text-ghost-white leading-[43px] mt-4">
              Long-Term Maintenance
            </p>
            <p class="text-ghost-white text-xl font-light">
              We go beyond design and construction to offer reliable landscape
              maintenance services, ensuring that our spaces remain vibrant,
              healthy, and visually stunning over time.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full">
        <img src="src/assets/images/our-expertise-and-approch.png" alt="" />
      </div>
    </div>
    <div class="lg:px-20 px-10 lg:pt-20 pt-10">
      <div class="flex gap-x-5">
        <img src="src/assets/images/mission-vission.png" alt="" />
        <div>
          <p class="text-primary-green text-[27px] pb-1.5">Our Vision</p>
          <p class="text-xl font-light">
            As industry pioneers, we are driven by a vision to lead the future
            of landscaping through constant innovation and sustainable
            practices. We aim to redefine landscape architecture and design,
            setting new standards for creativity, ecological harmony, and
            sustainability.
          </p>
          <br />
          <p class="text-xl font-light">
            Our aspiration is to become the largest landscape company in India,
            known for our cutting-edge solutions that blend natural eauty with
            environmental responsibility. By continuously evolving, we intend to
            create iconic outdoor spaces that inspire connection, enhance
            ecosystems, and leave a positive legacy for generations to come.
          </p>
        </div>
      </div>

      <div class="flex gap-x-5 mt-16">
        <div>
          <p class="text-primary-green text-[27px] pb-1.5">Our Mission</p>
          <p class="text-xl font-light">
            Our mission is to bring nature closer to people by creating vibrant outdoor spaces that
            promote well-being, sustainability, and community. We are deeply committed to transparent
            practices, adhering to all relevant regulations, and ensuring that each project we undertake
            meets the highest standards of environmental stewardship. 
          </p>
          <br />
          <p class="text-xl font-light">
            Through our sustainable design
            and construction methods, we aim to minimize environmental impact, reduce resource
            consumption, and encourage the use of native plants and eco-friendly materials.
          </p>
        </div>
        <img src="src/assets/images/mission-vission.png" alt="" />
      </div>
    </div>
  </main>
</Layout>

<style></style>
