---

---

<div class="">
  <div
    class="bg-ghost-white py-12 pl-12 pr-8 flex items-center justify-between lg:mx-20 mx-10 rounded-lg relative top-20"
  >
    <h2 class="text-4xl text-secondary-green font-medium">
      Ready to transform your space?
    </h2>
    <button
      class="bg-soft-terracotta text-ghost-white text-xl font-medium rounded-[10px] p-3.5 flex items-center gap-1.5 w-fit"
    >
      Get in touch
      <img src="src/assets/images/arrow-right-up-broken.svg" alt="" />
    </button>
  </div>
  <div class="bg-light-taupe lg:pt-[130px]">
    <div class="flex justify-between items-center lg:px-20 px-10">
      <div class="w-[230px]">
        <img src="src/assets/images/ennar-landscape-logo.svg" alt="" />
      </div>
      <div class="p-4 flex items-center gap-x-7">
        <a href="/" class="text-xl font-light">Home</a>
        <span>|</span>
        <a href="/portfolio" class="text-xl font-light">Portfolio</a>
        <span>|</span>
        <a href="/aboutUs" class="text-xl font-light">About Us</a>
        <span>|</span>
        <a href="/" class="text-xl font-light">Contact Us</a>
        <span>|</span>
      </div>
    </div>
    <hr class="bg-ghost-white lg:mt-[70px]" />
    <div class="lg:px-20 px-10 py-1 flex justify-between items-center">
      <div class="flex">
        <img src="src/assets/images/copyright-icon.svg" alt="" />
        <p class="text-secondary-green text-base">
          Ennar Landscape. All rights reserved.
        </p>
      </div>
      <div class="flex gap-x-5">
        <img src="src/assets/images/instagram.svg" alt="" />
        <img src="src/assets/images/twitter.svg" alt="" />
        <img src="src/assets/images/facebook.svg" alt="" />
        <img src="src/assets/images/linkedin.svg" alt="" />
      </div>
    </div>
  </div>
</div>
