---
---

<nav class="z-20 flex  items-center justify-between relative h-[104px] lg:px-20 px-10" id="nav-bar">
<div>
  <img src="src/assets/images/ennar-landscape-logo.svg" alt="">
</div>
<div class="flex gap-x-10">
  <a href="/" class="nav-link">Home</a>
  <a href="/portfolio" class="nav-link">Portfolio</a>
  <a href="/about-us" class="nav-link">About Us</a>
</div>
<button class="bg-soft-terracotta text-ghost-white text-xl font-medium rounded-[10px] p-3.5 flex items-center gap-1.5 ">
  Contact Us
  <img src="src/assets/images/arrow-right-up-broken.svg" alt="">
</button>
</nav>

<style>
   @media (max-width: 768px) {
    .logo {
      @apply ml-2;
    } 
  }

  .nav-link {
    @apply text-xl text-secondary-green ;

    &:hover {
      @apply text-primary-green;
    }
  }

  @screen lg {
    .logo {
      position: relative;
    }

    .nav-link.nuxt-link-active {
      @apply text-primary-green relative;
    }

    .nav-link.nuxt-link-active::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10%;
      width: 6px;
      height: 6px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      text-decoration: underline;
    }
  }
</style>